.logo{
margin:auto;
}
header{
    display:flex;
    flex-direction: column;
    margin:auto auto 20px auto;
}
.searchbar{
width:89%;
text-align: center;
margin:0 auto 10px auto;
background-color: #E7E7E7;
padding:10px;
border-radius: 5px;

}

#buttonSearch{
width:auto;
border:none;
background-color: transparent;
}

.searchbar-Input{
width:90%;
outline:none;
border:none;
background-color: transparent;

}
.tag-selected{
width:90%;
}
.tags-list{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    width: 90%;
    margin:auto auto 40px auto;
    gap:20px;
}
.tags-ingredients{

    background-color: #3282F7;
}
#input-ingredients{
}
#input-appliances{
}
#input-ustensils{
}
.input-icone-group{

}
.input-tags{

}
.angle-position{

}
.list-tag{

} 
.list-tag_ingredient--color{

}

.tags-appliances{

    background-color: #68D9A4;


}

.input-appliances{

}

.appliance-angle{

}
.angle-position{
color:white;
}
.list-tag_appliances--color{

}
.tags-ustensils{

    background-color: #ED6454;
}

.input-ustensils{

}
.input-tags{
 background-color: transparent;
 outline: none;
 border:none;
 color:white;

}
.input-tags::placeholder{
    font-size: 20px;
    opacity:1;
    color:white;
}
.list-tag_ustensils--color{

}
.tags-all{
    padding:10px;
    border-radius: 5px;
}