* {
  font-family: "Lato", sans-serif;
}

.logo {
  margin: auto;
  width: 400px;
}

header {
  display: flex;
  flex-direction: column;
  margin: auto auto 20px auto;
}

.searchbar {
  display: flex;
  width: 89%;
  height: 40px;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #E7E7E7;
  padding: 10px;
  border-radius: 5px;
}

#buttonSearch {
  width: auto;
  border: none;
  padding-left: 120px;
  background-color: transparent;
}

.searchbar-Input {
  width: 90%;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.searchbar-Input ::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.tag-selected {
  width: 90%;
}

.all-recipes {
  display: grid;
  width: 90%;
  grid-template-columns: 31% 31% 31%;
  justify-content: space-between;
  gap: 20px;
  margin: auto;
}

.recipe__article {
  width: 100%;
  margin: 20px 0 0 0;
}

.recipe__hidden {
  display: none;
}

.head__time-preparation {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.time-preparation {
  padding-left: 5px;
  font-size: 22px;
  font-weight: bold;
}

.recipe__description {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 20px;
}

.recipe__image {
  height: 200px;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0 0;
}

.recipe__detail {
  height: 200px;
  background-color: #E7E7E7;
  overflow: hidden;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.recipe__head {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.recipe__ingredient {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.recipe__guid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-family: "roboto";
  font-weight: 400;
}

.ingredient {
  font-weight: 700;
}

.container-ingredient {
  font-family: "Lato", sans-serif;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 18.2px;
}

.list-tag {
  display: grid;
  width: auto;
  grid-template-columns: auto auto auto;
  justify-content: start;
  gap: 2px;
  grid-auto-rows: auto;
  height: auto;
}

.element-list {
  color: white;
  margin: 2px 2px 2px 2px;
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
  padding: 0 20px 0 0 !important;
  border-radius: 5px;
}

.element-list p {
  margin: 20px;
}

.input-icone-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-all {
  position: relative;
  z-index: 2;
  padding: 12px;
  border-radius: 5px;
  height: fit-content;
}

.list-appliances {
  height: auto;
}

.list-ingredients {
  height: auto;
}

.list-ustensils {
  height: auto;
}

.tags-list {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  width: 90%;
  height: 60px;
  margin: auto auto 40px auto;
  gap: 20px;
}

.tags-ingredients {
  grid-auto-rows: auto;
  background-color: #3282F7;
}

.input-tags {
  height: 50px;
  width: 130px;
}

.list-tag_ingredient--color {
  height: auto;
}

.tags-appliances {
  grid-auto-rows: auto;
  background-color: #68D9A4;
}

.angle-position {
  color: white;
}

.list-tag_appliances--color {
  height: auto;
}

.tags-ustensils {
  grid-auto-rows: auto;
  background-color: #ED6454;
}

.input-tags {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

.input-tags::placeholder {
  font-size: 20px;
  opacity: 1;
  color: white;
}

.list-tag_ustensils--color {
  height: auto;
}

.list-ingredient {
  background-color: #3282F7;
  width: fit-content;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.list-appliance {
  background-color: #68D9A4;
  width: fit-content;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.list-ustensil {
  background-color: #ED6454;
  width: fit-content;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#tag-selected {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0 10px 95px;
}

/*# sourceMappingURL=style.css.map */
